body {
  height: auto;
  width: auto;
  object-fit: cover;
  margin: 0%;
  background: url("src/background.jpg") no-repeat center fixed;
  object-fit: cover;
  /* background: fixed; */
}
html{
  scroll-behavior: smooth;
}
td {
  width: 80px;
  text-align: center;
  height: 37px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
}

.top-nav {
  background: rgba(223, 222, 255, 0.85);
}

.nav-menu {
  text-decoration: inherit;
}

.nav-menu:hover {
  color: rgba(96, 91, 255, 0.85);
  animation: forwards;
}

a {
  text-decoration: inherit;
}
.mainpage {
    display: flex;
   
    justify-content: center;
}

.about-text , h2, h4 {
    margin: 0%;
    height: 90px;
    width: 90%;
    text-align: center;
    display: flex;
    background-color: rgba(223, 222, 255, 0.4);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}


.about{
     display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
}


.div-head{
  display: flex;
  justify-content: center;
}

.icons{
  height: 7vh;
  padding: 0%;
  margin: 0%;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 30px;
}